body {
  background-color: darkolivegreen;
}
.panels {
  display: flex;
  flex-wrap: wrap;
}
.panels > div {
  border: 1px solid black;
  background-color: darkslategray;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: rgb(75, 185, 75);
}
.panels > div h2 {
  background-color: gray;
  border-bottom: 4px solid darkolivegreen;
  color: black;
}
#received-graph {
  background-color: black;
}
textarea, .raw-data {
  background-color: rgb(41, 59, 10);
  color: rgb(75, 185, 75);
  width: 250px;
  height: 75px;
  font-size: x-small;
  border: 1px solid grey;
  overflow: auto;
  font-family: monospace;
}
.bit-wrong {
  font-weight: bolder;
  color: red;
}
.bit-unexpected {
  color: green;
}